# Enfores consistent coding styles across IDEs
# See https://editorconfig.org/

# top-most EditorConfig file
root = true

# Unix-style newlines with newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{js, ts, jsx, tsx, json, yml}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true