# Typescript v1 declaration files
typings/

# Dependencies
node_modules/

# IDE
.vscode

# Logs
**/*.log
.nyc_output
.nyc_output/**/*
*.DS_Store
reports/jest-*.xml

# Coverage output
coverage
coverage/**/*
*.xml

# Built files
lib/
lib/**/*
lib/package.json
**/*.js
**/*.js.map
*.tsbuildinfo

.env