# Typescript v1 declaration files
typings/

node_modules/

.vscode

# logs
**/*.log
.nyc_output
.nyc_output/**/*
*.DS_Store
reports/jest-*.xml

# coverage output
coverage
coverage/**/*
*.xml

#built js files
plugin/lib/**
**/*.js
**/*.js.map